* {
  padding: 0px;
  margin: 0px;
  box-sizing: 0px;
}
body {
  background-color: rgb(238, 238, 238);
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: rgb(238 238 238);
  left: 0;
}

img {
  width: 15%;
}

.links {
  width: 100%;
  text-align: end;
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0 0 87vh;
  font-size: 20px;
  font-family: -webkit-pictograph;
}

a {
  text-decoration: none;
  color: black;
}

input[type="email"] {
  width: 14%;
  height: 30px;
  font-size: 17px;
  padding: 0px 0px 0px 19px;
  margin: 25px 0 0 0;
}

form button {
  width: 10%;
  height: 43px;
  margin: 30px 0 0px 0;
  font-size: 22px;
  font-weight: 800;
  background-color: rgb(241, 196, 15);
  border: none;
}

.heading {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  margin: 7vh 0 0 0;
  font-weight: bold;
}

.content {
  display: inline-grid;
  justify-content: center;
  width: 100%;
}

.content h1 {
  font-size: 33px;
  font-family: sans-serif;
  margin: 75px 0 0 0;
}
.content p {
  font-size: 20px;
  font-family: sans-serif;
}
.media {
  text-align: center;
  margin: 8vh 0 0 0;
}

.main-box {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: 700;
}

.box {
  width: 390px;
  height: 370px;
  border: 1px solid;
  margin: 81px 25px 0 0;
  text-align: center;
}

.box h2 {
  margin-top: 25px;
}

.main-box ol li {
  list-style: none;
  padding-top: 15px;
  font: icon;
  font-size: 22px;
}

.main-box p {
  width: 100%;
  height: 10%;
  text-align: center;
  padding: 20px 0 0 0;
  background-color: rgb(221, 221, 221);
}
.main-box button {
  width: 32%;
  height: 43px;
  margin: 30px 0 0px 0;
  font-size: 22px;
  background-color: rgb(241, 196, 15);
  border: none;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer div {
  font-family: system-ui;
  width: 52%;
  height: 85px;
  background-color: rgb(221 221 221);
  margin-top: 70px;
  text-align: end;
  padding: 10px 23px 0 0;
}

footer a {
  font-size: 20px;
  padding-right: 17px;
}

footer p {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    height: auto;
    margin-top: 100px;
  }
  header {
    display: flex;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    background-color: rgb(238 238 238);
    left: 0;
  }
  img {
    width: 24%;
    height: 14px;
    padding: 19px 0 0 0;
  }
  .links {
    display: flex;
    justify-content: space-evenly;
    margin: 13px 0 0 17vh;
    font-size: 13px;
  }
  input[type="email"] {
    width: 58%;
    height: 30px;
    font-size: 17px;
    padding: 0px 0px 0px 19px;
    margin: 25px 0 0 0;
  }
  form button {
    width: 26%;
    height: 25px;
    margin: 10px 0 0px 0;
    font-size: 12px;
    font-weight: 800;
    background-color: rgb(241, 196, 15);
    border: none;
  }
  .heading {
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: bold;
  }

  .content {
    padding: 0px 28px 13px 28px;
  }
  .content h1 {
    font-size: 18px;
    font-family: sans-serif;
    margin: 37px 0 0 0;
  }
  .media {
    text-align: center;
  }
  iframe {
    width: 81%;
    height: auto;
    padding: 0 0 0 48px;
  }
  .main-box {
    display: list-item;
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: -webkit-center;
    padding: 22px 0 0 22px;
  }
  .box {
    width: 305px;
    height: 282px;
    border: 1px solid;
    text-align: center;
    margin: 0 0 14px 0;
  }
  .main-box p {
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 20px 0 0 0;
    background-color: rgb(221, 221, 221);
  }
  .main-box ol li {
    list-style: none;
    padding-top: 15px;
    font: icon;
    font-size: 16px;
  }
  .main-box button {
    width: 32%;
    height: 30px;
    margin: 7px 0 0px 0;
    font-size: 15px;
    background-color: rgb(241, 196, 15);
    border: none;
  }
  footer div {
    width: 100%;
    font-family: system-ui;
    height: 47px;
    background-color: rgb(221 221 221);
    margin-top: 13px;
    text-align: end;
  }
  footer a {
    font-size: 15px;
  }
  footer p {
    font-size: 13px;
    padding: 0 16px 0px 0px;
  }
}
